@{
    ViewData["Title"] = "Cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Cookies</h1>
            </div>
        </div>
    </div>
</header>

<!-- Breadcrumb -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text">
                    <a href="/">Forside</a><i class="fa fa-angle-double-right"></i><a href="~/Home/OmStadionStats">Om StadionStats</a><i class="fa fa-angle-double-right"></i><span>Cookies</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cookies -->
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>Denne hjemmeside anvender cookies. En cookie er en lille tekstfil, der lagres i din browser og for at kunne genkende din computer ved tilbagevendende besøg. Der er ingen personlige oplysninger gemt i vores cookies og de kan ikke indeholde virus.</p>

            <p>Cookies anvendes til at føre statistik over hvor antallet af brugere samt oplysninger om køn, alder, geografi og interesser på vores brugere for at tilpasse indhold herefter. Vi bruger cookies til at fastlægge hvem der besøger stadionstats.dk's hjemmeside. Cookies anvendes til at føre demografisk og brugerrelaterede statistik. Vi indsamler information om hvilke sektioner du besøger, hvor mange artikler du læser, hvor lang tid du besøger hjemmesiden, hvilken browser du bruger, dit IP- nummer, om du har besøgt os får osv. Dette sikre os at du ikke ser de samme bannerreklamer igen og igen og samtidig at du ser reklamer som kan være interessante for dig. Ud over det bruger vi også informationen til at dokumentere værdien af annonceindrykning over for vores annoncører. Disse cookies kaldes første parts cookies og de bliver sat af stadionstats.dk</p>

            <p>
                <b>Cookiedeklaration</b><br>
                Den viser helt præcist hvilke cookies, der kan blive sat fra websitet, hvem der modtager data og hvad de data bliver brugt til.
            </p>

            <p>
                <b>Google Analytics (trafikmåling)</b><br>
                bold.dk bruger cookies fra Google Analytics til at måle trafikken på websitet. Du kan fravælge cookies fra Google Analytics her: http://tools.google.com/dlpage/gaoptout
            </p>
        </div>
    </div>
</div>


<!-- Contact form -->
<partial name="_Contactform" />