@{
    ViewData["Title"] = "Privatlivspolitik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Privatlivspolitik</h1>
            </div>
        </div>
    </div>
</header>

<!-- Breadcrumb -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text">
                    <a href="/">Forside</a><i class="fa fa-angle-double-right"></i><a href="~/Home/OmStadionStats">Om StadionStats</a><i class="fa fa-angle-double-right"></i><span>Privatlivspolitik</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Privacy policy -->
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Brug af personoplysninger</h3>
            <p>Personoplysninger afgives aldrig til tredjepart, med mindre du selv udtrykkeligt giver tilsagn hertil, og vi indsamler aldrig personoplysninger, uden at du selv har givet os disse oplysninger ved registrering eller deltagelse i en undersøgelse m.v.</p>

            <p>Personoplysninger bruges til at gennemføre den service, som oplysningerne er indsamlet i forbindelse med. Oplysningerne bruges derudover til at få større kendskab til dig og øvrige brugere af hjemmesiden. Denne brug kan bl.a. omfatte undersøgelser og analyser, der er rettet mod en forbedring af vore produkter, tjenester og teknologier, samt visning af indhold, der er tilpasset dine interesser og hobbyer.</p>

            <p>
                <b>Kontakt vedr. personoplysninger</b><br>
                Hvis du ønsker adgang til de oplysninger, som er registreret om dig hos stadionstats.dk, skal du rette henvendelse på thomas@stadionstats.dk. Er der registreret forkerte data, eller har du andre indsigelser, kan du rette henvendelse samme sted. Du har mulighed for at få indsigt i, hvilke informationer der er registreret om dig, og du kan gøre indsigelse mod en registrering i henhold til reglerne i Persondataloven.
            </p>

        </div>
    </div>
</div>


<!-- Contact form -->
<partial name="_Contactform" />