@model StadionStats.Models.Stadion

@{
    ViewData["Title"] = "Admin - Slet stadion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="ex-header-admin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Slet stadion</h1>
            </div>
        </div>
    </div>
</header>

<!-- Breadcrumb -->
<div class="breadcrumbs-admin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text">
                    <a href="/">Forside</a><i class="fa fa-angle-double-right"></i><span>Administration</span><i class="fa fa-angle-double-right"></i><a href="/Stadions">Stadions</a><i class="fa fa-angle-double-right"></i><span>Slet @Html.DisplayFor(model => model.Navn)</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Er du sikker på at du vil slette?</h4>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Navn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Navn)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="StadionID" />
                    <input type="submit" value="Slet" class="btn btn-danger" /> |
                    <a asp-action="Index">Tilbage til oversigten</a>
                </form>
                <br /><br />
            </div>
        </div>
    </div>
</div>

